ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    width: 220px;
    height: 295px;
    border: 1px solid #ccc;
    margin-bottom: 40px;
    padding: 10px;
}


@media only screen and (max-width: 420px) {
    li {
        width: 40% !important;
    }
}