<div class="main-container">
  <div class="header-container">
    <div class="menu-bar">
      <nav>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'home' | translate}}</a>
        <a routerLink="/categories" routerLinkActive="active">{{'categories' | translate}}</a>
        <a routerLink="/checkout" routerLinkActive="active">{{'checkout' | translate}}</a>
      </nav>
      
      <span>
        <select 
            class="lang-changer" 
            #selectedLang 
            (change)="switchLang(selectedLang.value)">
            <option *ngFor="let language of translate.getLangs()" 
                [value]="language"
                [selected]="language === translate.currentLang">
                {{ language }}
            </option>
        </select>
      </span>
    </div>
  </div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>